pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.colorful .hll { background-color: #ffffcc }
.colorful { background: #ffffff; }
.colorful .c { color: #888888 } /* Comment */
.colorful .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.colorful .k { color: #008800; font-weight: bold } /* Keyword */
.colorful .o { color: #333333 } /* Operator */
.colorful .ch { color: #888888 } /* Comment.Hashbang */
.colorful .cm { color: #888888 } /* Comment.Multiline */
.colorful .cp { color: #557799 } /* Comment.Preproc */
.colorful .cpf { color: #888888 } /* Comment.PreprocFile */
.colorful .c1 { color: #888888 } /* Comment.Single */
.colorful .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.colorful .gd { color: #A00000 } /* Generic.Deleted */
.colorful .ge { font-style: italic } /* Generic.Emph */
.colorful .gr { color: #FF0000 } /* Generic.Error */
.colorful .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.colorful .gi { color: #00A000 } /* Generic.Inserted */
.colorful .go { color: #888888 } /* Generic.Output */
.colorful .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.colorful .gs { font-weight: bold } /* Generic.Strong */
.colorful .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.colorful .gt { color: #0044DD } /* Generic.Traceback */
.colorful .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.colorful .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.colorful .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.colorful .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.colorful .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.colorful .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.colorful .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.colorful .s { background-color: #fff0f0 } /* Literal.String */
.colorful .na { color: #0000CC } /* Name.Attribute */
.colorful .nb { color: #007020 } /* Name.Builtin */
.colorful .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.colorful .no { color: #003366; font-weight: bold } /* Name.Constant */
.colorful .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.colorful .ni { color: #880000; font-weight: bold } /* Name.Entity */
.colorful .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.colorful .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.colorful .nl { color: #997700; font-weight: bold } /* Name.Label */
.colorful .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.colorful .nt { color: #007700 } /* Name.Tag */
.colorful .nv { color: #996633 } /* Name.Variable */
.colorful .ow { color: #000000; font-weight: bold } /* Operator.Word */
.colorful .w { color: #bbbbbb } /* Text.Whitespace */
.colorful .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.colorful .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.colorful .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.colorful .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.colorful .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.colorful .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.colorful .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.colorful .sc { color: #0044DD } /* Literal.String.Char */
.colorful .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.colorful .sd { color: #DD4422 } /* Literal.String.Doc */
.colorful .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.colorful .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.colorful .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.colorful .si { background-color: #eeeeee } /* Literal.String.Interpol */
.colorful .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.colorful .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.colorful .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.colorful .ss { color: #AA6600 } /* Literal.String.Symbol */
.colorful .bp { color: #007020 } /* Name.Builtin.Pseudo */
.colorful .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.colorful .vc { color: #336699 } /* Name.Variable.Class */
.colorful .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.colorful .vi { color: #3333BB } /* Name.Variable.Instance */
.colorful .vm { color: #996633 } /* Name.Variable.Magic */
.colorful .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
